:root {
    --Primary: #181820;
    --Secondary: #21212B;
    --Tertiary:#F8739E;
}
body{
    margin: 0;
    height: 100%;
}
.primary-bg{
    opacity: var(--sds-size-stroke-border);
    background: var(--Primary, #181820);

}
.secondary-bg{
    border: 1px solid var(--Secondary, #21212B);
    opacity: var(--sds-size-stroke-border);
    background: var(--Secondary, #21212B);
    
    /* M3/Elevation Dark/3 */
}

.tertiary-bg{
    background: var(--Tertiary,#F8739E);
}

.tertiary-text{
    color: var(--Tertiary);
}